.container {
  display: flex;
  background-color: rgb(250, 247, 247);
}

.container2 {
  width: 100%;
  height: 100%;
  margin-left: 45px;
}

.registros {
  margin-left: 30px;
  margin-top: 130px;
  font-family: Arial, sans-serif;
}

.table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th {
  background-color: #eeeded;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 20px;
  border-bottom: 1px solid #b8b8b8;
  font-family: Arial, sans-serif;
  text-align: center;
}

.table tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.button{
  display: flex;
  justify-content: space-between;
}

.buttonSave{
  background-color: #08dc24;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  right: 20px;
  bottom: 20px;
  border: none;
}
.buttonCancel{
  background-color:rgb(253, 27, 27);
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  right: 20px;
  bottom: 20px;
  border: none;
}

.horarios-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horario-item {
  display: inline-block;
  margin-right: 10px;
}

.side-bar-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.modal-dialog {
  position: fixed;
  z-index: 1100;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
  height: auto;
  max-height: 80%;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 13px 13px 20px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #f8f9fa;
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-size: 20px;
}

.modal-body {
  padding: 15px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  background-color:rgb(255, 115, 115);
  border: none;
  color: white;
}

.close:hover {
  color: #343a40;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.edit-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.data {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  padding-top: 5px;
}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  padding: 16px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: #dff0d8;
}

.alert-message {
  text-align: center;
  color: #949406;
  font-weight: bold;
  padding: 16px;
  border: 1px solid #949406;
  border-radius: 5px;
  background-color: #f6f8ad;
}