<div class="container">
    <app-side-bar></app-side-bar>
    <div class="container2">
        <div class="registros">
            <table class="table" *ngIf="response">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of response">
                        <td class="text-center">{{ registro.date }}</td>
                        <td class="text-center">{{ registro.time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>