<div class="container">
  <app-side-bar></app-side-bar>
  <div class="container2">
    <div class="registros">
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th [attr.colspan]="4">Horário</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let group of registrosPorDia; let i = index">
            <tr>
              <td>{{ group.date }}</td>
              <td *ngFor="let registro of group.registros; let j = index">{{ registro.time }}</td>
              <td *ngFor="let _ of [].constructor(4 - group.registros.length)">&nbsp;</td>
              <td>
                <button class="edit-button" (click)="openModal(editModal, i)">
                  <i class="fas fa-bars"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>



<ng-template #editModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Horários - {{diaSelecionado[0]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let horas of horasDoDiaSelecionado; let i = index">
          <input type="text" class="form-control" [(ngModel)] = "horas.time">
          <!-- <input type="text" class="form-control" id="time{{i + 1}}" [(ngModel)]="horasDoDiaSelecionado[i]"
            [readonly]="!horasDoDiaSelecionado[i]" [ngClass]="{ 'readonly-input': !horasDoDiaSelecionado[i] }"> -->
        </div>
        <button class="btn btn-primary" (click)="salvarHoras()">Salvar</button>
      </div>
    </div>
  </div>
</ng-template>