.container{
  display: flex;
  background-color: rgb(250, 247, 247);
}

.container2{
  margin-left: 45px;
  width: 100%;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px; /* Reduzindo o padding para diminuir o tamanho da célula */
  text-align: center;
}

th {
  background-color: #f2f2f2;
  
}
.th-user,
.th-dias,
.th-dias-trabalhados,
.th-horas-faltando,
.th-horas-extras,
.th-horas-domingo,
.th-horas-sabado {
  width: 10%; /* Ajuste o tamanho conforme necessário */
 
}

.progress-bar-container {
  width: calc(100% - 12px); /* Ajustando para o tamanho da célula da tabela */
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 20px; /* Aumentando a altura da barra de progresso */
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.vermelho {
  background-color: #f44336;
}

.amarelo {
  background-color: #ffeb3b;
}

.verde {
  background-color: #4caf50;
}
