.container{
  display: flex;
  background-color: rgb(250, 247, 247);
}

.container2{
  margin-left: 45px;
  width: 100%;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px; /* Reduzindo o padding para diminuir o tamanho da célula */
  text-align: center;
}

th {
  background-color: #f2f2f2;
  
}
.th-user,
.th-dias,
.th-dias-trabalhados,
.th-horas-faltando,
.th-horas-extras,
.th-horas-domingo,
.th-horas-sabado {
  width: 10%; /* Ajuste o tamanho conforme necessário */
 
}

.progress-bar-container {
  width: calc(100% - 12px); /* Ajustando para o tamanho da célula da tabela */
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 20px; /* Aumentando a altura da barra de progresso */
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.vermelho {
  background-color: #f44336;
}

.amarelo {
  background-color: #ffeb3b;
}

.verde {
  background-color: #4caf50;
}





.modal-dialog {
  position: fixed;
  z-index: 1100;
  left: 20%;
  width: 60%;
  height: auto;
  top: 1%;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.modal-title {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 0;
  border-bottom: 1px solid #ddd; 
}

.user-info-item {
  font-size: 16px;
  line-height: 1.5;
  flex: 1 1 30%; /* Ocupa até 30% da largura, ajustando conforme o espaço disponível */
}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

.buttonClose:hover {
  color: #333;
}

#modal-time-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 12px; 
}

#modal-time-table th, #modal-time-table td {
  border: 1px solid #ddd;
  padding: 3px; 
  text-align: center;
}

#modal-time-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

#modal-time-table td {
  background-color: #fff;
}

#modal-time-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#modal-time-table tbody tr:hover {
  background-color: #eaeaea;
}

#modal-time-table td {
  font-size: 12px; 
}