.container{
    display: flex;
    background-color: rgb(250, 247, 247);
}
.container2{
    margin-left: 45px;
    width: 30%;
}












.calendario {
    text-align: center;

  }
  
  .nomes-dias {
    display: flex;
    justify-content: space-around;
  }
  
  .dia {
    padding: 10px;
  }
  

  
  .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .dia span {
    width: 100%; /* Define a largura do span como 100% do elemento pai */
    height: 100%; /* Define a altura do span como 100% do elemento pai */
    
    /* background-color: red; */
  }

  /* Estilo para realçar o dia atual */
  .dia.hoje {
    background-color: #ffcc00;
  }
  
  /* Estilo para fins de semana */
  .dia.fim-de-semana {
    background-color: #f0f0f0;
    color: #888;
  }

  .dia-selecionado {
    background-color: green !important;
    color: white; /* Altere a cor do texto conforme necessário */
  }
.dia-span {
  display: block;
  
  font-size: 20px; /* Exemplo de aumento do tamanho da fonte */
  cursor: pointer;
/* background-color: black; */
}
  

.calendario h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.calendario h2 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}
