<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" [ngClass]="{ 'active': isSidebarActive }">
    <div class="custom-menu">
      <button type="button" class="btn btn-primary" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="container">
      <img src="../../assets/img/logo.jpg" class="logo-img">
      <div class="line"></div>
      <ul class="list-unstyled">
        <li>
          <button onclick="window.location.href='#';"><i class="fas fa-cubes"></i>Estoque</button>
        </li>
        <li>
          <button onclick="window.location.href='#';"><i class="fa fa-user-plus"></i>Cadastro</button>
        </li>
        <li>
          <button onclick="window.location.href='#';"><i class="fas fa-user"></i>Clientes</button>
        </li>
        <li>
          <button onclick="window.location.href='#';"><i class="fa fa-folder-open"></i>Condicional</button>
        </li>
        <li>
          <button onclick="window.location.href='#';"><i class="fa fa-pie-chart"></i>Resultado</button>
        </li>
        <li>
          <button onclick="window.location.href='#';"><i class="fa fa-shopping-cart"></i>Vendas</button>
        </li>
      </ul>
    
      <div class="line"></div>
      <img src="../../assets/img/user.jpg" class="profile-image">
      <div class="Email">
        <h2>( Email )</h2>
      </div>
      <div class="logout">
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
</div>