<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" [ngClass]="{ 'active': isSidebarActive }">
    <div class="custom-menu">
      <button type="button" class="btn btn-primary" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="container">
      <a href="/home"><img src="../../assets/img/logo.jpg" class="logo-img"></a>
      <div class="line"></div>
      <ul class="list-unstyled">
        <li>
          <a href="/ponto"><i class="fas fa-cubes"></i>Ponto</a>
        </li>
        <li *ngIf="admin">
          <a href="/cadastro"><i class="fa fa-user-plus"></i>Cadastro</a>
        </li>
      </ul>
    
      <div class="line"></div>
      <img src="../../assets/img/user.jpg" class="profile-image">
      <div class="logout">
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
</div>