.container{
    display: flex;
    background-color: rgb(250, 247, 247);
}
.container2{
    width: 100%;
    height: 100%;
    margin-left: 45px;
}

/* Estilos para a div de busca */
.busca {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    align-items: center;
    
}

/* Estilos para o ícone de busca */
.fa-search {
    position: absolute;
    left: 10px; /* Ajuste a posição do ícone à esquerda conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Cor do ícone */
    cursor: pointer;
}

/* Estilos para o campo de busca */
.input-busca {
    padding-left: 40px;
    border: 1.3px solid #ccc;
    border-radius: 5px;
    height: 41px;
    width: 516px;
    font-size: 14px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
  /* Media query para telas de até 600px */
@media (max-width: 600px) {
    .busca {
        top: 5%; /* Ajuste conforme necessário para telas menores */
    }
    
    .input-busca {
        width: 100%; /* Ajuste conforme necessário para telas menores */
    }
}

/* Media query para telas de até 1200px */
@media (max-width: 800px) {
    .busca {
        top: 8%; /* Ajuste conforme necessário para telas médias */
    }

    .input-busca {
        width: 90%; /* Ajuste conforme necessário para telas médias */
    }
}