.container {
    display: flex;
    background-color: rgb(250, 247, 247);
}

.container2 {
    width: 100%;
}

.registros {
    margin-left: 0px;
    font-family: Arial, sans-serif;
}

.table-wrapper {
    overflow-y: auto;
    max-height: 800px;
    margin-bottom: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}

.table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-x: auto;
}

.table th {
    cursor: pointer;
    background-color: #eeeded;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #b8b8b8;
    border-left: 0.1px solid #eaeaea;
    border-right: 0.1px solid #eaeaea;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.deletar {
    background-color: rgb(255, 96, 96);
    color: rgb(254, 254, 254);
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    border: none;
}

.deletar:hover {
    color: rgb(0, 0, 0);
}

tr.linha-vermelha {
    background-color: rgb(255, 149, 149) !important;
}

button.salvar {
    background-color: #5bd05f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 30%;
}

button.salvar:hover {
    background-color: rgb(118, 246, 49);
}

.rounded-photo {
    border-radius: 30%;
    width: 40px;
    height: 35px;
    transition: transform 0.3s ease;
}

.rounded-photo:hover {
    transform: scale(1.2);
}

.table td:nth-child(1) {
    width: 400px;
    text-align: left;
    vertical-align: middle;
}